.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* 그리드 열 너비 조정 */
  grid-gap: 20px; /* 그리드 사이 간격 */
  margin-top: 20px;
}

@media (max-width: 768px) {
  .recommendations {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* 중간 화면 크기에 맞춰 자동 조정 */
  }
}

@media (max-width: 480px) {
  .recommendations {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* 좁은 화면에 맞춰 자동 조정 */
  }
}

.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 10px;
  position: relative; /* 오버레이 정렬을 위해 필요 */
  overflow: hidden; /* 오버레이 클립을 위해 필요 */
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  position: absolute; /* 오버레이 위치 설정 */
  top: 0;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.1);  /* 확대 배율 조정 */
  z-index: 2;
}
